
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Courier New"
}

body {
    background-color: black;

    /* display: block;
    justify-content: center;
    align-items: center; */
}

p {
    color: whitesmoke;
}

a {
    cursor: pointer;
}

a :hover {
    box-shadow: 0 0 50px 15px #48abe0;
    transition: box-shadow 0.5s ease-in-out;
}


/* popup01.html */
.new_intro {
    /* text-align: left; */
    width: fit-content;
    height: fit-content;
    margin: 1rem;
    /* padding: 1rem; */
}

.wassup {
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: fit-content;
    height: fit-content; */

    margin-top: 2rem;

    perspective: 1500px;
    /* position: relative; */
    /* position: absolute; */

}

#chill_bro {
    width: 300px;
    height: 300px;
    position: relative;
}

#chill_bro .chill_bro_front,
#chill_bro .chill_bro_back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s;
}


#chill_bro .chill_bro_front {
    transform: rotateY(0deg);
}

#chill_bro .chill_bro_back {
    transform: rotateY(180deg);
}

#chill_bro.flipped .chill_bro_front {
    transform: rotateY(-180deg);
}

#chill_bro.flipped .chill_bro_back {
    transform: rotateY(0deg);
}